%btn {
  font-weight: 600;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  user-select: none;
  letter-spacing: 1px;
  text-decoration: none;
  text-align: center;
  transition: .3s;
  margin-top: .5rem;
  margin-right: .5rem;
  // &--full {
  //   @extend .btn;
  //   width: 100%;
  // }
}

.btn--sm {
  height: 1.5rem;
  padding: 0 .5rem;
  font-size: .8rem;
}

.btn--md {
  height: 2.3rem;
  padding: 0 .5rem;
  font-size: .8rem;
}

.btn--lg {
  height: 2.5rem;
  padding: 0 3rem;
  font-size: 1rem;
}

.btn--primary {
  @extend %btn;
  color: #272343;
  background-color: #ffd803;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.12), 0 2px 2px 0 rgba(0,0,0,.24);
  &:hover {
    box-shadow: 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12), 0 2px 4px -1px rgba(0,0,0,.2);
  }
}

.btn--secondary {
  @extend %btn;
  color: #444444;
  background-color: white;
  border: 1px solid #d8d8d8;
  letter-spacing: normal;
  &:hover {
    border-color: rgba(0, 0, 0, 0.4);
  }
}

.btn--danger {
  @extend %btn;
  color: white;
  border: 1px solid #FF5555;
  background-color: #F0514F;
  &:hover {
    background-color: #e44e4e;
    border: 1px solid #e44e4e;
  }
}
