.form__items {
  max-width: 25rem;
}

.form-item__inner {
}

.form-item {
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: column;
}

.form-actions__items {
  list-style-type: none;
  display: flex;
  justify-content: center;
}

.form-item__text-input {
  border: 1px solid #272343;
  padding: 3px 6px;
  border-radius: 4px;
  background-color: #fff;
  width: 100%;
}

.form-item__textarea {
  border: 1px solid #272343;
  padding: 3px 6px;
  border-radius: 4px;
  background-color: #fff;
  height: 12rem;
  width: 100%;
}

.form-item__label--block {
  font-weight: 600;
  font-size: 0.875rem;
  display: block;
  margin-bottom: .2rem;
}

.form-item__remember-me {
  font-size: .85rem;
  margin-right: .3rem;
}

.form-actions__item {

}

.form-actions__item--cancel {
  // padding: 0 .5rem;
}
