.scroll-table {
  overflow: auto;
  white-space: nowrap;
}

.table {
  border-collapse: collapse;
  background-color: #FFFFFF;
  width: 100%;
  th {
    padding: 3px;
    border: 1px solid #ccc;
    background-color: #fffffe;
  }
  td {
    padding: 3px 10px;
    border: 1px solid #ccc;
  }
}

.table td:nth-child(n+2) {
  text-align: center;
}

.vertical-scroll-table {
  overflow: auto;
  overflow-x: hidden;
  max-height: 12rem;
  width: 100%;
}

.table__log {
  @extend .table;
  text-align: center;
}
