h2.heading-2 ログの詳細

h4 = Log.human_attribute_name(:title)
p = @log.title

h4 = Log.human_attribute_name(:description)
p = simple_format(h(@log.description), {}, sanitze: false, wrapper_tag: "div")

= link_to t("link.edit"), edit_log_path(@log), class: "btn--primary btn--lg"

= link_to t("link.destroy"), @log, method: :delete, data: { confirm: t("confirm.are_you_sure") }, class: "btn--danger btn--lg"

= link_to t("link.back"), article_path(@log.article_id), class: "link--back"
